[submodule "extern/dict"]
	path = extern/dict
	url = https://github.com/Jacob-C-Smith/dict
[submodule "extern/sync"]
	path = extern/sync
	url = https://github.com/Jacob-C-Smith/sync
[submodule "extern/log"]
	path = extern/log
	url = https://github.com/Jacob-C-Smith/log
[submodule "extern/array"]
	path = extern/array
	url = https://github.com/Jacob-C-Smith/array
[submodule "extern/hash-cache"]
	path = extern/hash-cache
	url = https://github.com/Jacob-C-Smith/hash-cache
