[submodule "dict"]
	path = extern/dict
	url = https://github.com/Jacob-C-Smith/dict
[submodule "array"]
	path = extern/array
	url = https://github.com/Jacob-C-Smith/array
[submodule "extern/dict"]
	path = extern/dict
	url = https://github.com/Jacob-C-Smith/dict
[submodule "extern/array"]
	path = extern/array
	url = https://github.com/Jacob-C-Smith/array
[submodule "extern/sync"]
	path = extern/sync
	url = https://github.com/Jacob-C-Smith/sync
