.vs/
*.sln
*.vcxproj

.vscode/
lib
x64/
.DS_Store
build/*
!build/test cases
CMakeFiles/
cmake_install.cmake
Makefile
include/dict
Debug/
Release/
CMakeCache.txt
json_example
dict_example
queue_example
json_test
dict_test
queue_test
test cases/expected behavior
serial test cases/array/*.json
serial test cases/bool/*.json
serial test cases/float/*.json
serial test cases/int/*.json
serial test cases/object/*.json
serial test cases/string/*.json
serial test cases/*.json
array_example
array_test
json_test

*.pdb
*.exe
*.dll
*.filters
*.ini
*.ico
Icon?
test cases/serial/*
!test cases/serial/.gitkeep
