.vs/
*.sln
*.vcxproj

.vscode/
lib
x64/
.DS_Store
build/*
!build/test cases
CMakeFiles/
cmake_install.cmake
Makefile
include/dict
Debug/
Release/
CMakeCache.txt
json_example
dict_example
queue_example
json_test
dict_test
queue_test
test cases/serial/array/*.json
test cases/serial/bool/*.json
test cases/serial/float/*.json
test cases/serial/int/*.json
test cases/serial/object/*.json
test cases/serial/string/*.json
test cases/serial/*.json
array_example
array_test
json_test

*.pdb
*.exe
*.dll
*.filters
*.ini
*.ico
Icon?
